{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="col-md-4">
<div class="card bg-primary text-white">
<div class="card-body">
<h4>Total Doctors</h4>
<h2>{{ doctors }}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card bg-success text-white">
<div class="card-body">
<h4>Total Patients</h4>
<h2>{{ patients }}</h2>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card bg-warning text-white">
<div class="card-body">
<h4>Total Appointments</h4>
<h2>{{ appointments }}</h2>
</div>
</div>
</div>

</div>

{% endblock %}