{% extends 'base.html' %}

{% block content %}

<h3>Patients</h3>

<a href="/patient-add/" class="btn btn-success">Add Patient</a>

<table class="table mt-3">

<tr>
<th>Name</th>
<th>Age</th>
<th>Phone</th>
<th>Action</th>
</tr>

{% for p in patients %}
<tr>
<td>{{ p.name }}</td>
<td>{{ p.age }}</td>
<td>{{ p.phone }}</td>

<td>
<a href="/patient-edit/{{p.id}}" class="btn btn-warning">Edit</a>
<a href="/patient-delete/{{p.id}}" class="btn btn-danger">Delete</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}